<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="searchForm">
        <form id="searchForm"
              method="get"
              th:action="@{/search}"
        >
            <label for="tags">Title of the meme:</label>
            <input type="text" id="tags" name="tags" placeholder="TAG" required><br>

            <button class="btn btn-sm" type="submit">
                Search
            </button>
        </form>
    </div>
    <div>
        <div class="meme" th:each="meme:${memes}">
            <h2 th:text="${meme.getTitle()}"></h2>
            <div th:each="tag:*{meme.getTags()}"><span th:text="${tag.getName()}"></span></div>
            <h3 th:text="@{'Posted by: '+${meme.getAuthorMeme().getUsername()}}"></h3>
            <h3 th:text="@{'Likes: '+${meme.getLikingAccounts().size()}}"></h3>
            <form th:action="@{'/meme/'+${meme.getId()}+'/like'}" method="post">
                <button type="submit" name="submit">Like!</button>
            </form>
            <a th:href="@{'/meme/'+${meme.getId()}}">
                <img th:src="@{${meme.getUrl()}}" alt="">
            </a>
        </div>
    </div>
    <div>
        <a th:href="@{'/?page='+${next_page}}"><button th:text="@{'Next Page'}"></button></a>
    </div>
</div>
</body>
</html>